<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script async defer data-domain="robansuini.com" src="https://robansuini-work.nsuini.workers.dev/js/script.js"></script>
    <script src="https://use.fontawesome.com/b43754bc48.js"></script>
    <title>Tech Stuff by {{ site.github.owner_name }}</title>    
  </head>

  <body>
    <header>
      <div class="container">
        <h1>robansuini.com</h1>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
        <section id="downloads">
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
        <div><p>2017 © Roberto Ansuini
          {% if site.twitter_username %}
           <a style="text-decoration: none" href="https://twitter.com/{{ site.twitter_username }}">
              <i class="fa fa-twitter"></i>
           </a> 
          {% endif %}
          {% if site.github_username %}
          <a style="text-decoration: none" href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github"></i>
          </a> 
          {% endif %}
          {% if site.linkedin_username %}
           <a style="text-decoration: none" href="https://linkedin.com/in/{{ site.linkedin_username }}">
              <i class="fa fa-linkedin"></i>
            </a>
          {% endif %}
          {% if site.medium_publication %}
           <a style="text-decoration: none" href="https://medium.com/{{ site.medium_publication }}">
              <i class="fa fa-medium"></i>
            </a>
          {% endif %}
          </p>
       </div>
      </section>
    </div>
  </body>
</html>
